<HTML>
<BODY bgcolor="cyan">
<form method="POST" action="">
    <center>
    <H1>Overtime App by Tyrone </H1> <br>
    First Name <input type = "text" name = "fname" /> <br>
    Last Name <input type = "text" name = "lname" /> <br>
    Ticket Numbers separated by hyphen(-) <input type = "text" name = "ticknos" /> <br>
    Customer Names separated by hyphen(-) <input type = "text" name = "custname" /> <br>
    Start Time(hh:mm) <input type = "text" name = "start" /> <br>
    End Time(hh:mm) <input type = "text" name = "end" /> <br>
    <input type = "submit">
    </center>
</form>
</BODY>
</HTML>